*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NfUltra';
    src: url('./assets/fonts/NFUltra-Regular.eot');
    src: local('NF Ultra Regular'), local('NFUltra-Regular'),
        url('NFUltra-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NFUltra-Regular.woff2') format('woff2'),
        url('./assets/fonts/NFUltra-Regular.woff') format('woff'),
        url('./assets/fonts/NFUltra-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html,body{
    width: 100%;
    height: 100%;
}


.fontMont{
      font-family: "Montserrat", sans-serif;
}

.fontNF{
     font-family: 'NfUltra', sans-serif;
}

.hero{
    background-image: url('./assets/images/herobg.png');
}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


@media (max-width: 640px) {
  .hero {
    background-image: url('./assets/images/mobileDevice.png');
  }
}


 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .swiper-pagination-bullet-active{
        background-color: #7FFF00 !important;
    }